body {
    background-image: url("../images/campoDeFutebol.png");
    background-size: 100vw;
}

.table_players {
    background-color: #FFF;
}

.input_button {
    background-color:#006400;
    border:0;
    border-radius:10px;
    box-shadow:0px 0px 3px #999;
    color:rgb(255, 255, 255);
    cursor:pointer;
    font-size:15px;
    margin-bottom:10px;
    padding:10px 20px;
}

.input_button:hover {
    background-color:#027502;
}